body{
    font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
}
h1{
    font-size: 250%;
    padding: 5px;
}
.h1-color{
    color: orange;
}
.main-container{
    display: flex;
}
.container{
    width: 50%;
    padding-left: 2%;
}
.container img{
    width: 80%;
    border-radius: 100%;

}
.button{
    text-decoration: none;
   background-image: linear-gradient(rgb(255, 123, 0),rgb(143, 32, 13),rgb(12, 165, 12));
    /* background-color: rgb(255, 0, 242); */
    padding: 8px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.main-container{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.section{
    display: flex;
    margin-top: 10px;
}
.content{
    width: 50%;
    padding: 20x;
}
.content img{
    width: 80%;
    /* border-radius: 100%; */
}
span{
    color: rgb(12, 165, 12);
}
#button{
    background-image: linear-gradient(rgb(161, 7, 84),rgb(2, 5, 214),rgb(137, 165, 12));
}
.section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#div{
    display: grid;
    grid-template-columns: 50% 50%;
    
}
#pad{
    box-shadow: 10px 10px 50px red;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;

   
}
h3{
    color: seagreen;
}
#web{
   
    box-shadow: 10px 5px 5px grey;
    position: relative;
}
.footer{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.class{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(174, 246, 5),rgb(0, 255, 98),rgb(255, 102, 0));
    border-image-slice: 1;
}
.classs{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(201, 11, 185),rgb(1, 23, 29),rgb(255, 136, 0));
    border-image-slice: 1;
}
footer p{
    text-align: center;
    margin-top: 4rem;
    font-size: small;
}